@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    nav ul li {
      @apply  mr-6;
      @apply  text-center;
    }
   
    div.card-post ul li {
        @apply pr-2;

    }
    
    div.card-post h1, p {
        @apply px-3;

    }

    div.before-p svg:hover {
        @apply hover-gray;
    }


    div.card-post  h1, p {
       font-size: 15px;
        
    }

    div.card-post  h1 {
        @apply font-bold;
    }   

   div.card-post p {
    @apply font-light;
   }

   aside h1 {
    @apply ml-3;
   }
}
q
.hover-gray {
    color: #8e8e8e;
}

.text-black {
    color: black;
 }

.h-15 {
    height: 3.75rem;
}

.border-t-1 {
    border-top-width: 1px;
}

.border-b-1 {
    border-bottom-width: 1px;
  }

.nav-container {
    max-width: 975px
}