@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    z-index: 1;
}


header nav img.logo {
    min-width: 114px;
}


.card-post {
    width: 100%;
    max-width: 470px;
}

section {
    padding-top: 80px;
}

main {
    margin-top: 60px;
    max-width: 470px;
}

main div.story ul li   {
    width: 75px;
    margin: 0;
}

main div.story ul li a img  {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-bottom: 8px;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    border: 2px solid green;
}

 main div.story p {
    font-size: 14px;
    font-weight: 400;
    
}
